<h2>Remember Me!</h2>

<p>
  Signing up is easy! All we really need is your email
  address and a password that will identify you next
  time you visit.
</p>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
