<h2>About Babysitter Buddy</h2>

<p>
  Let's face it - caring for a child (or two, or three, or more!) is
  hard work! Your child is your world, and you are attuned to all of
  their hopes, dreams, desires and needs. Sometimes you trust your
  children to the care of another individual - a family member, a
  babysitter - but no one else can be as good a parent for your
  children as you are.
</p>

<p>
  You may already have a caregiver list  on the refrigerator at home -
  helpful things like allergy warnings, sleep schedules, contact numbers.
  Babysitter Buddy can help by prompting you to fill in the gaps;
  information that you might take for granted but could be useful to
  someone watching your child.
</p>

<p>
  No registration is needed right away, so...
</p>

<p class="start"><%= link_to "Let's Get Started!", mypage_url %></p>